/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.backgroundWhiteBorder {
    background-color: silver;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    border:1px solid #ddd;
  }
